/* `Basic HTML
----------------------------------------------------------------------------------------------------*/

body {
	background: #fff;
	color: #000;
	min-width: 960px;
}

abbr {
	border-bottom: 1px dotted;
}

a {
	color: #06c;
}

a:hover {
	color: #09f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	position: relative;
}

h3,
h4,
h5,
h6 {
	font-weight: normal;
}

h2 {
	color: #069;
}

h3 {
	color: #c60;
}

h4 {
	color: #666;
	font-family: 'Times New Roman', Times, serif;
}

h6 {
	background: #eeeee0;
	border-top: 2px dashed #fff;
	color: #333;
	font-size: 12px;
	margin-bottom: 0;
	padding: 5px 10px;
}

textarea[class~="brush:js"],
textarea[class~="brush:css"],
textarea[class~="brush:php"],
textarea[class~="brush:html"],
textarea[class~="brush:csharp"] {
	display: none;
}

p code,
li code,
table code {
	background: #ff9;
	font-size: 11px;
}

/* `Topper + Header
----------------------------------------------------------------------------------------------------*/

#topper {
	background: #ddddd0;
	border-bottom: 1px dotted #069;
	color: #999;
	font-size: 11px;
	padding: 5px 0;
}

#topper a {
	color: #999;
}

#topper a:hover {
	color: #000;
}

#header {
	background: #069;
	border-bottom: 1px solid #fff;
	color: #fff;
	padding: 10px 0;
}

#header span {
	font-size: 17px;
	letter-spacing: 2px;
	line-height: 31px;
	margin: 0 0 0 20px;
	text-shadow: #000 0 1px 1px;
	text-transform: uppercase;
}

/* `Tabs
----------------------------------------------------------------------------------------------------*/

#criteria_options {
	list-style: none;
	overflow: hidden;
}

#criteria_options li {
	float: left;
	margin: 0;
}

#criteria_options a {
	border-radius: 20px;
	display: block;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	font-weight: bold;
	outline: 0;
	padding: 5px 15px;
}

#criteria_options a:hover {
	background: #eeeee0;
	color: #000;
	text-decoration: none;
}

#criteria_options a.current {
	background: #069;
	color: #fff;
	text-decoration: none;
}

/* `Wrapper + Main + Menu + Footer
----------------------------------------------------------------------------------------------------*/

#wrapper {
	min-height: 100%;
}


#main {
	border-top: 1px dotted #999;
	overflow: hidden;
	padding: 20px 0 60px;
}

#footer {
	background: #ccccc0;
	border-top: 2px dotted #fff;
	color: #666;
	font-size: 11px;
	height: 40px;
	margin: -42px 0 0;
	overflow: hidden;
	line-height: 35px;
}

#footer a {
	color: #666;
}

#footer a:hover {
	color: #000;
}

/* `Misc
----------------------------------------------------------------------------------------------------*/

.anchor_link {
	background: url(../images/anchor_link.png) no-repeat left center;
	font-size: 0;
	overflow: hidden;
	position: absolute;
	left: -25px;
	top: 0;
	width: 16px;
	height: 100%;
	text-decoration: none;
	text-indent: -99999px;
	text-shadow: none;
}

.box_title .anchor_link {
	left: -27px;
}

.anchor_link:hover {
	background-position: -16px center;
}

.backAnchor {
	font-size: 12px;
	overflow: hidden;
	width: auto;
	height: 100%;
	text-decoration: none;
	float:right;
	position: absolute;
	top: 10px;
	right:0;
}

.aside {
	font-size: 11px;
}

.align_right {
	text-align: right;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.box,
.box_notice {
	background: #f6f6f6;
	border: 1px solid;
	border-color: #ddd #ccc #999;
	box-shadow: #ccc 0 1px 3px;
	-moz-box-shadow: #ccc 0 1px 3px;
	-webkit-box-shadow: #ccc 0 1px 3px;
	margin: 0 0 20px;
	padding: 20px 20px 0.01em;
}

.box_notice {
	background: #ffd;
}

.box_title {
	background: #777;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	margin: -19px -19px 20px;
	padding: 5px 10px;
	text-shadow: #000 0 1px 1px;
}

.normalize {
	margin-bottom: 5px;
}

.figure {
	background: #fff;
	border: 1px solid;
	border-color: #ddd #999 #666;
	box-shadow: #ccc 0 1px 3px !important;
	-moz-box-shadow: #ccc 0 1px 3px !important;
	-webkit-box-shadow: #ccc 0 1px 3px !important;
	display: block;
	margin: -15px -2px 0;
	padding: 1px;
}

dl{
    margin-left:15px;
}

dt{
    font-weight:bold;    
}

    dt:after{
        content:':';
    }
    
dd{
    margin-bottom:10px;
}

/* thanks for the icon! http://p.yusukekamiyamane.com/ */
a[href^="https://wiki"], a[href^="http://repo"], a[href^="https://fusion"] { background:  url(lock-10.png) no-repeat 0 3px; padding-left: 13px; }


/* `Table of Contents
----------------------------------------------------------------------------------------------------*/

#toc {
	color: #999;
	margin: -10px 0 15px;
	line-height: 2;
}

#toc li.h1 {
	margin-left: 0px;
	list-style-type:none;
	border: 1px solid #999;
	background: #eee;
	margin: 20px -10px 0;
	padding: 3px 5px 1px;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
	
}
#toc li.h1 a { text-decoration:none; }

#toc li.h2 {
	margin-left: 5px;
}

#toc li.h3 {
	margin-left: 15px;
}

#toc li.h4 {
	margin-left: 25px;
}

#toc li.h5 {
	margin-left: 35px;
}

/* `Info Table
----------------------------------------------------------------------------------------------------*/

table.info {
	margin-bottom: 10px;
	width: 100%;
}

table.info th,
table.info td {
	padding: 0 0 10px;
}

table.info th {
	color: #693;
	font-size: 10px;
	font-weight: bold;
	line-height: 1;
	padding-top: 6px;
	padding-right: 15px;
	text-align: right;
	text-transform: uppercase;
	white-space: nowrap;
	width: 1%;
}

/* `Syntax Highlighter Overrides
----------------------------------------------------------------------------------------------------*/

html body div.syntaxhighlighter {
	border: 1px solid #fff !important;
	box-shadow: #666 0 1px 3px !important;
	-moz-box-shadow: #666 0 1px 3px !important;
	-webkit-box-shadow: #666 0 1px 3px !important;
	font-size: 11px !important;
	margin: -1px -1px 20px !important;
	padding: 5px 0 !important;
}

html body div.syntaxhighlighter div.line span.content span.block {
	background-image: none !important;
}

html body div.syntaxhighlighter * {
	line-height: 1.5 !important;
}